# Server Configuration
PORT=5050
MAIL_HOST=relay.mailbaby.net
MAIL_PORT=2525
MAIL_USERNAME=mb66322
MAIL_PASSWORD=hgzbpWYumma2b6Knj48M
MAIL_FROM_ADDRESS=noreply@rayzonsolar.one
MAIL_FROM_NAME=Rayzon P2P
MONGODB_DNS_SERVERS=1.1.1.1,8.8.8.8
NODE_ENV=development
JWT_ACCESS_SECRET=rayzon_access_token_secret_15m_2026
JWT_REFRESH_SECRET=rayzon_refresh_token_secret_7d_2026

# Active MongoDB Database Connection (Remote MongoDB Server from Compass)
MONGODB_URI=mongodb+srv://prashantvadhvana_db_user:iBCZW1m1LWi7bXR6@cluster0.xxkca2v.mongodb.net/rayzon_p2p

# Vite Client API Configuration
VITE_API_URL=http://localhost:5050
SAP_BASE_URL=https://my420266-api.s4hana.cloud.sap
SAP_USERNAME=INTEGRATION
SAP_PASSWORD=Rayzonsolar@123456789
SAP_TIMEOUT_MS=30000
SAP_MAX_PAGES=500
SAP_SYNC_ENABLED=true
SAP_SYNC_INTERVAL_MINUTES=60
AWS_ACCESS_KEY_ID=6Y6DNOA9I5O6K5A0CD28
AWS_SECRET_ACCESS_KEY=lnzaUJp6CrdQbrkC3pvaijfZCG1qY3xqvxXxaq9k
AWS_REGION=del1
AWS_S3_BUCKET=p2p-rayzon
AWS_ENDPOINT=https://del1.vultrobjects.com
AWS_USE_PATH_STYLE_ENDPOINT=true